.facility-filters-grid {
  display: grid;
  gap: 1rem;
}

@media (min-width: 769px) {
  .facility-filters-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .facility-filters-grid {
    grid-template-columns: 1fr;
  }
}

.facility-filters-grid.two-columns {
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .facility-filters-grid.two-columns {
    grid-template-columns: 1fr;
  }
}

